/* You can add global styles to this file, and also import other style files */

@import "./app/styles/03-generic/generic.main";

@import "./../../../node_modules/primeflex/primeflex.css";

.container-auth {
  height: 100vh;
  width: 100vw;
  padding: 1rem;

  display: grid;
  place-items: center;

  overflow-x: auto;
}
